header {
    background-color: #333;
    color: white;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.3rem 2%;
    position: relative;
    left: -25%;
    width: 150%;
    text-align: center;
    border: inset;
}

body {

    background: linear-gradient(to right, rgb(101, 153, 153), rgb(244, 121, 31));
}




#container {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    border: solid;
    margin: 3px;
}

p {
    border: solid;
    padding: 5px;
    margin: 5px;
}

#film {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}

#film:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}



footer {
    background-color: #333;
    color: white;
    border: inset;
    margin-bottom: -1.5rem;
    padding: 0.5rem 2%;
    position: relative;
    left: -25%;
    width: 150%;
    text-align: center;
    

}

img {
    width: 80%;
    height: 500px;
    object-fit: cover;
    border: groove;
    border-radius: 20px;
}

img:hover {
    transform: rotateY(12deg);
    outline: 1px solid transparent;
}